body {
background: rgb(25, 212, 66);
font: normal 15pt Arial;
}

header {
        color: rgb(71, 65, 65);
        border-radius: center;
}

section {
background: rgb(143, 145, 126);
border: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgb(0,0,0,0,363);
}

div {
    text-align: center;
    padding: 10px;
}

#Imag{
    width:25%;   
    border-radius:10%;
}

footer{
    color:white;
    text-align: center;
    font-style: bold;
}