body {
background: rgb(255, 153, 0);
font: normal 15pt Arial;
}

header {
        color: rgb(255, 0, 140);
        border-radius: center;
}

section {
background: rgb(14, 127, 233);
border: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgb(0,0,0,0,363);
}

div {
    text-align: center;
    padding: 10px;
}

#Imag{
    width:25%;   
    border-radius:10%;
}

footer{
    color:white;
    text-align: center;
    font-style: bold;
}