body {
background: rgb(16, 175, 127);
font: normal 15pt Arial;
}

header {
        color: rgb(0, 0, 0);
        border-radius: center;
}

section {
background: rgb(172, 47, 155);
border: 20px;
padding: 25px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgb(0,0,0,0,363);
}

div {
    text-align: center;
    padding: 20px;
}

#Imag{
    width: 25%;   
    border-radius:25%;
}

footer{
    color:rgb(245, 243, 243);
    text-align: center;
    font-style: bold;
}