body {
background: rgb(179, 129, 38);
font: normal 15pt Arial;
}

header {
        color: rgb(0, 0, 0);
        border-radius: center;
}

section {
background: rgb(188, 190, 163);
border: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgb(0,0,0,0,363);
}

div {
    text-align: center;
    padding: 8px;
}

#Imag{
    width:25%;   
    border-radius:15%;
}

footer{
    color:white;
    text-align: center;
    font-style: bold;
}